.btn {
    display: inline-block;
    font-size: 1.4rem;
    border: 3px solid  rgb(190,190,190);
    background-color: transparent;
    padding: 2rem 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $light-black;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover {
        background-color: $light-black;
        color: rgb(255,255,255);
        border: 3px solid $light-black;
    }

    &--bold {
        font-weight: bold;
    }

}

