.feature-card {
    width: 100%;
    min-height: 58rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-out;
  
    @include media(md) { width: 50rem; }
    @include media(xlg) { width: 50%; }

    &:hover {
        .feature-card__title {
            color: $light-black;
        }

        .feature-card__icon {
            i {
                color: $light-black;
            }
        }

        .feature-card__logo {
            filter: none;
        }

        .feature-card__text {
            color: rgba($light-black, .8);

            &::after, &::before {
                background-color: rgba($light-black, .3);
         
            }
        }
    }

    &--1 {
        border-top: 1px solid rgba($light-black, .2);
        border-right: 1px solid rgba($light-black, .2);
        border-bottom: 1px solid rgba($light-black, .2);
        transition: all 1.5s ease;
        @media only screen and (min-width: 1100px) {
            border-top: 0;
        }

        &--hidden {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    }

    &--2 {
        border-left: 1px solid rgba($light-black, .2);
        border-bottom: none;
        transition: all 1.5s ease;
        @media only screen and (min-width: 1110px) {
            border-bottom: 1px solid rgba($light-black, .2);
            
        }

        &--hidden {
            opacity: 0;
            transform: translate(50%, -50%);
        }
    }

    &--3 {
        border-right: 1px solid rgba($light-black, .2);
        border-top: 1px solid rgba($light-black, .2);
        transition: all 1s ease;
        &--hidden {
            opacity: 0;
            transform: translate(-50%, 50%);
        }
    }

    &--4 {
        border-left: 1px solid rgba($light-black, .2);
        border-top: 1px solid rgba($light-black, .2);
        border-bottom: 1px solid rgba($light-black, .2);
        transition: all 1s ease;
        @media only screen and (min-width: 1110px) {
            border-bottom: none;
        }

        &--hidden {
            opacity: 0;
            transform: translate(50%, 50%);
        }
    }

    &__title {
        color: rgba($light-black, .5);
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: normal;
        letter-spacing: 2px;
        transition: all .3s ease-out;
        text-align: center;
        padding: 0 1.5rem;
    }

    &__text {
        position: relative;
        text-align: center;
        font-size: 1.8rem;
        color: rgba($light-black, .5);
        line-height: 1.6;
        padding: 5rem 4rem;
        transition: all .3s ease-out;

        @include media(sm) { padding: 5rem 4rem; }

        &::after, &::before {
            content: '';
            position: absolute;
            width: 8rem;
            height: 1px;
            background-color: rgba($light-black, .2);
            transform: translateX(-50%);
            left: 50%;
        }

        &::after {
            top: 1rem;
        }

        &::before {
            bottom: 1rem;
        }
    }

    &__icon {
        margin-top: 4rem;
        display: inline-block;

        i {
            font-size: 8rem;
            color: rgba($light-black, .5);
            transition: all .3s ease-out;
        }
    }

    &__skills {
        text-align: center;
        margin: 3rem 0;
        padding: 0 3rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

    &__logo {
        width: auto;
        height: 4rem;
        display: inline-block;
        transition: all .3s ease-out;
        margin-top: 1.5rem;

        filter: grayscale(100%);

        &--npm {
            height: 3rem;
            margin-top: 1rem;
        }
        
        &--express {
            height: 2.5rem;
            margin-top:1rem;
        }
    }
}