.form {
    &--hidden {
        transform:scale(0);
    }
    &--animate {
        animation: bounce 0.5s ease-out 1 forwards;
    }
    &__input, &__message {
        display: block;
        width: 100%;
        padding: 1.8rem;
        border: 1px solid transparent;
        background-color: #1E242C;
        outline: none;
        color:#cdcdcd;
        font-size: 1.6rem;
        border-radius: 3px;
        transition: all .4s ease-out;

        @include media(sm) { font-size: 1.8rem; }

        &:hover {
            border: 1px solid #228078;
        }
        &:focus {
            background-color: #228078;
        }

        &::placeholder {
            color:#cdcdcd;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        font-size: 1.8rem;
        top: 1.5rem;
    }

    &__message:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        font-size: 1.8rem;
        top: 1.8rem;
    }

    &__group {
        margin: 3rem auto;
        width: 90%;
        position: relative;

        @include media(sm) { width:50rem; }
        @include media(md) { width:60rem; }
    }

    &__label {
        position: absolute;
        left: 1.9rem;
        display: inline-block;
        color:#cdcdcd;
        font-size: 1rem;
        transition: all .3s ease;
        top: 2px;
    }

    &__message {
        min-height: 25rem;
        overflow: auto;
    }

    &__submit {
        width: 40%;
        display: block;
        margin: 6rem auto 1rem;
        border: 1px solid white;
        background-color: #1E242C;
        padding: 1.5rem;
        font-size: 2rem;
        color:#cdcdcd;
        transition: all .3s ease-out;
        cursor: pointer;

        @include media(sm) { width:20rem; }
        
        &:hover {
            background-color: #228078;
            border: 1px solid #228078;
        }
    }
}