.h-margin-top-big {
    margin-top: 8rem;
}

.h-margin-top-vsm {
    margin-top: 2rem;
}

.h-margin-bottom-sm {
    margin-bottom: 4rem;
}

.h-margin-bottom-md {
    margin-bottom: 6rem;
}

.h-margin-bottom-big {
    margin-bottom: 8rem;
}

.h-margin-bottom-huge {
    margin-bottom: 10rem;
}