@keyframes topToBottom {
    0% {
        opacity:1;
        transform: translateY(0)
    }

    30% {
        opacity:0.5;
        transform: translateY(60%)
    }

    60% {
        opacity:0;
        transform: translateY(-60%)
    }

    100% {
        opacity:1;
        transform: translateY(0)
    }
}

@keyframes bounce {
    0% { transform: scale(0); opacity: 0; }
    30% { transform: scale(1); opacity: 1; }
    60% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes modalanim {
    0% {
        transform: translateY(-50%);
        opacity:0;
    }

    10% {
        transform: translateY(0);
        opacity:1;
    }

    90% {
        transform: translateY(0);
        opacity:1;
    }
    100% {
        transform: translateY(-50%);
        opacity:0;
    }

}

@keyframes pulse-arrow {
    0% {
        opacity:1;
        transform: scale(1) translate(-50%, -50%);

    }

    60% {
        opacity: 0;
        transform: scale(1.5) translate(-30%, -35%);
    }

    100% {
        opacity: 0;
        transform: scale(1.5) translate(-30%, -35%);
    }
}