svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
	fill: $color-white;
	stroke: $color-white;
	stroke-width: 2;
}

.heading-2 {
    position: relative;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    transform: translateY(0);
    opacity:1;
    transition: all .8s ease-in-out;
    text-transform: uppercase;
    z-index: 2;
    @include media(sm) { font-size: 5rem; }
    @include media(md) { font-size: 6rem; }

    &--hidden {
        transform: translateY(-50%);
        opacity:0;

        &::after {
            transform: translateX(50%);
        }
    }
    &--dark {
        color: $color-black;
    }
    &--light {
        color: $light-gray-2;
    }

    &::before {
        position: absolute;
        display: block;
        width: 100%;
        color: rgba($dark-gray, .5);
        z-index: 1;
        font-weight: bold;
        font-size: 8rem;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,  -50%);
        @include media(xsm) { font-size: 8.5rem; }
        @include media(sm) { font-size: 10rem; }
        @include media(md) { font-size: 12rem; }
    }

    &--about {
        &::before {
            content: 'ABOUT ME';
        }
    }

    &--skills {
        &::before {
            content: 'SKILLS';
        }
    }

    &--projects {
        &::before {
            content: 'PROJECTS';
        }
    }

    &--contact {
        &::before {
            color: rgba($dark-gray, .1);
            content: 'CONTACT';
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 12rem;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        top: 130%;
        background-color: $color-black;
    }
    
    &--contact {
        &::after {
            background-color: $light-gray-2;
        }
    }
}

.heading-3 {
    font-size: 3rem;
    color: rgba($light-black, .9);
    margin-left: auto;
    margin-right: auto;

    &--about {
        border-top: 1px solid rgba($light-black, 0.2);
        margin-top: 4rem;
        width: 30rem;
        padding: 1rem;
        text-align: center;
        @include media(xmd) {
           padding: 0;
           width: 100%;
           margin-top: 0;
           border-top: none;
           text-align: left;
        }
    }
}

.skills {
    background-color: $color-white;
    min-height: 100rem;
    padding: 10rem 5rem 5rem 5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    position: relative;
    background-color: $color-white;
    padding: 6rem 0 5rem;
    z-index: 1;
    
    &::before,&::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
    }

    &::before {
        height: 50%;
        background: lightgray;
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
        -webkit-transform-origin: 3% 0;
        transform-origin: 3% 0;
    }
}

.contact {
    padding: 20rem 1rem 5rem 1rem;
    background-color: $contact-bg;
    position: relative;
    &__container {
        margin: 5rem auto;
        width: 90%;
        text-align: center;
        transition: all .5s ease-in-out;
        transform: translateY(0);
        opacity:1;
        margin-bottom: 6rem;

        @include media(md) { width:70rem; }

        &--hidden {
            transform: translateY(50%);
            opacity:0;
        }
    }
    &__info {
        color:$light-gray-2;
        font-size: 1.6rem;
        line-height: 1.5em;

        @include media(sm) { font-size: 2rem; }
    }
    svg {
        position: absolute;
        top:0;
        left:0;
        right:0;
    }
}