.footer {
    padding: 1rem;
    background-color: #1B242F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include media(md) {
        flex-direction: row;
        padding: 3rem 1rem;
    }

    &__copyright {
        width:100%;
        color:#cdcdcd;
        font-size: 2rem;
        font-weight: bold;
        margin: 2rem auto;
        text-align: center;

        @include media(md) {
            width: 40%;
            margin: 0 auto;
        }
    }

    &__credits {
        width:100%;
        margin: auto;
        font-size: 1.8rem;
        text-align: center;
        list-style-type: none;

        @include media(md) { width: 30%; }
    }

    &__policy {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__link {
        color:#cdcdcd;
        display: block;
        text-decoration: none;

        @include media(md) { margin: 0 auto; }

        &:hover {
            text-decoration: underline;
        }
    }
}


// .icon-cancel-circled:before { color:red; font-size: 60px; }
// .icon-ok-circled:before { color:green; font-size: 60px; }