.header {
    min-height: 100vh;
    background-size: cover;
    position: relative;
    opacity:1;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(to right bottom, rgba(#232323,.66), rgba(#232323,.66)), url('../img/forest.jpg');
    filter: grayscale(60%);
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgba($light-grey, .7);

    &__heading-1 {
        display: inline-block;
        color: $color-white;
        text-transform: uppercase;
        border-top: 2px solid $color-white;
        border-bottom: 2px solid $color-white;
        padding: 6rem 4rem;
        &--name {
            display: inline-block;
            font-size: 4.8rem;
            margin-bottom: 1rem;
        }

        &--position {
            display: inline-block;
            letter-spacing: 2px;
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }

        &--portfolio {
            display: inline-block;
            letter-spacing: 10px;
            font-size: 6.5rem;
        }

        &--light {
            font-weight: 300;
        }

        &--bold {
            font-weight: 700;
        }
        
    }

    &__logo {
        display: block;
        width: 12rem;
        height: auto;

    } 
}

.heading-box  {
    text-align: left;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 65vh;
    padding: 3rem 4rem;
    display:flex;
    // box-shadow: 0 1rem 2rem rgba(0,0,0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}