*, *:after, *:before {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.home {
    background-image: url('../img/404.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    background-size: cover;
    position: relative;

    &__title {
        position: absolute;
        top:45%;
        left:50%;
        transform: translate(-50%,-50%);
        font-weight: bold;
        color: lightgray;
        font-size: 60px;
        text-align: center;
        text-shadow: 1px 1px 2px #323232;
    }

    &__desc {

    }

    &__btn {
        position: absolute;
        top: 60%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}

.navigation {
    padding: 10px;
    transition: cubic-bezier(.77,0,.175,1); //all .25s linear;
    //position: fixed;
    // top:0;
    // left:0;
    // right: 0;
    //z-index: 50;
    
    
    &--sticky {
        box-shadow: 0px 1px 5px 1px #323232;
        padding-top: 0;
        background-color: rgba(255,255,255,0.8);
    }

    &__inner {
        display: flex;
        align-items: center;
        width:100%;
    }

    &__list {
        margin:0;
        padding:0;
        list-style-type: none;
        display:flex;
        overflow: hidden;
        margin-left:auto;
    }

    &__item {
        padding: 0 10px;
        display: none;
        align-self: center;
    }

    &__link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold; 
        border-top:3px solid transparent;
        border-bottom:3px solid transparent;
        padding: 1px;
        transition: all .3s ease;
        color:black;
        &:before {
			content: "";
			position: absolute;
			background: rgb(155, 147, 147);
			width: 12px;
			height: 1px;
			top: 100%;
			transform: translate(0%, 0%);
			transition: all .3s ease;
		}
        &:hover, &--active {
            &:before { width: 100%; }
            span { color: rgb(155, 147, 147) }
        }
    }

    &__toggle {
        height: 40px;
        width: 40px;
        cursor: pointer;
        position: relative;
        padding-top: 10px;
    }

    &__bar {
		height: 3px;
		display: block;
		background-color:rgb(38,38,38);
		margin-bottom: 5px;
        transition: transform .2s ease, background-color .5s ease;
        
        &--full {
            width: 100%;
        }
	
	    &--left-half {
		    width: 50%
	    }
        &--right-half{
            width: 50%;
            float: right;
        }
    }

    &__logo {
        font-weight: normal; 
        text-decoration: none;
        color:black;
    }
}

body.navigation--active {
	$menu--items--count: 4;
	.navigation__toggle {
		.navigation__bar {
            background-color: green;
            &--full { transform: translateX(0px) rotate(-45deg); }
		    &--left-half { transform: translateX(1px) rotate(45deg); }
		    &--right-half { transform: translateX(-2px) rotate(45deg); }
        }
    }
	.navigation {

		// &__list-item{
		// 	opacity: 1;
		// 	transform: translateX(0%);
		// 	transition: opacity .3s ease, transform .3s ease, color .3s ease;
		// 	@for $i from 0 through $menu--items--count {
		// 		&:nth-child(#{$i}){
		// 			transition-delay: $transition--length * $i / 8 + .5 + s;
		// 		}
		// 	}
		// }
	}
}

.section__title {
    text-align: center;
    font-size: 48px;
    &--dark {
        color: black;
    }
    &--bright {
        color: #cdcdcd;
    }
}


.about {
    min-height: 100vh;
    padding: 100px 10px;
    background-image: url('../img/3147.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    &__container {
        display: flex;
        margin: 100px auto 50px;
        width: 100%;
    }

    &__who {
        width: 50%;
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    &__paragraph {
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__paragraph2 {
        font-size: 22px;
        line-height: 1.8em;
        font-family: 'Open Sans', sans-serif;
    }

    &__desc {
        width: 85%;
        min-height: 500px;
        text-align: justify;
        color: rgb(38,38,38);
        margin-top: 50px;
    }

    &__skills {
        width:50%;
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
    }

    &__fixed {
        position: relative;
        width:500px;
    }

    &__item {
        position: absolute;

        &--1 {
            top: 50px;
            left: 100px;
        }

        &--2 {
            top: 110px;
            left: 210px;
        }

        &--3 {
            top: 50px;
            left: 320px;
        }

        &--4 {
            top: 177px;
            left: 100px;
        }

        &--5 {
            top: 237px;
            left: 210px;
        }

        &--6 {
            top: 177px;
            left: 320px;
        }

        &--7 {
            top: 304px;
            left: 100px;
        }

        &--8 {
            top: 364px;
            left: 210px;
        }

        &--9 {
            top: 304px;
            left: 320px;
        }

        &--10 {
            top: 431px;
            left: 100px;
        }

        &--11 {
            top: 491px;
            left: 210px;
        }

        &--12 {
            top: 431px;
            left: 320px;
        }

        &--13 {
            top: 558px;
            left: 100px;
        }

        &--14 {
            top: 618px;
            left: 210px;
        }

        &--15 {
            top: 558px;
            left: 320px;
        }
    }

    &__logo {
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%) rotate(-90deg);
        z-index: 5;
    }

    &__hexagon {
        position: relative;
        display: block;
        width: 120px; 
        height: 69.28px;
        background-color: #228078;
        margin: 34.64px 0;
        box-shadow: 0 0 15px rgba(0,0,0,0.65);
        transform: rotate(90deg);
        transition: all .2s ease;
        > span {
            display: block;
            position: absolute;
            top:0px;
            left: 0;
            width:120px;
            height:69.2820px;
            z-index: 2;
            background: inherit;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 84.85px;
            height: 84.85px;
            -webkit-transform: scaleY(0.5774) rotate(-45deg);
            -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
            background-color: inherit;
            left: 17.5736px;
            box-shadow: 0 0 15px rgba(0,0,0,0.65);
            
        }
        &:before {
            top: -42.4264px;
        }

        &:after {
            bottom: -42.4264px;
        }
        &:hover {
           transform: scale(1.03) rotate(90deg);
        }
    }
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.projects {
    position: relative;
    background-color: white;
    padding: 6em 10px 50px 10px;
    min-height: 100vh;
    z-index: 1;
    
    &::before,&::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
    }

    &::before {
        height: 50%;
        background: lightgray;
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
        -webkit-transform-origin: 3% 0;
        transform-origin: 3% 0;
    }
}

.gallery {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        overflow: hidden;
        position: relative;
        width: 390px;
        height: 300px;
        background-image: url('http://via.placeholder.com/390x300');
        background-position: center center;
        background-size: cover;
        
        &--1 {
            background-image: url('../img/wwdc1.jpg');
        }

        &--2 {
            background-image: url('../img/portfoliov1.jpg');
        }

        &:hover {
            .gallery__overlay {
                opacity: 0.8;
                .gallery__text {
                    top: 35%;
                    opacity:1
                }
            }
             .gallery__controls {
                transform: translate(-50%,-50%);
            }
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left:50%;
        transform: translate(-50%,-50%);
        transition: all .3s ease;
        opacity: 0;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        display: block;
        text-align: center;
        
    }

    &__description {
        font-size: 22px;
        display: block;
        color: rgb(216, 146, 15);
    }

    &__controls {
        position: absolute;
        display: flex;
        top: 80%;
        left:50%;
        transform: translate(-50%,200%);
        transition: all .3s ease;
        opacity: 1;
        align-items: center;
    }

    &__control {
        margin: 0 30px;
        color: black;
        text-decoration: none;
        font-size: 20px;
        transition: all .25s cubic-bezier(0.5, 0.31, 0.84, 0.05);
            
            .icon-github-circled:before, .icon-eye:before, .icon-plus:before {
                color: black;
                padding:0;
                font-size: 32px;
                
            }
            &:hover {
                transform:scale(1.5);
            }
    }

    &__overlay {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: white;
        opacity: 0;
        transition: all .3s ease-in-out;
        
    }
}

svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
	fill: white;
	stroke: white;
	stroke-width: 2;
}

.contact {
    padding: 200px 10px 50px 10px;
    min-height: 100vh;
    background-color: #252934;
    position: relative;
    &__container {
        margin: 50px auto;
        width: 600px;
        text-align: center;
    }
    &__info {
        color:#cdcdcd;
        font-size: 20px;
        
    }
    svg {
        position: absolute;
        top:0;
        left:0;
        right:0;
    }
}

.form {
    &__input, &__message {
        display: block;
        margin: 30px auto;
        width: 500px;
        padding: 15px;
        border: 1px solid transparent;
        background-color: #1E242C;
        outline: none;
        color:#cdcdcd;
        font-size: 18px;
         border-radius: 3px;
        transition: all .4s ease-out;
        &:hover {
            border: 1px solid #228078;
        }
        &:focus {
            background-color: #228078;
        }

        &::placeholder {
            color:#cdcdcd;
        }
    }

    &__message {
        height: 200px;
    }

    &__submit {
        width: 200px;
        display: block;
        margin: 30px auto 10px;
        border: 1px solid white;
        background-color: #1E242C;
        padding: 15px;
        font-size: 20px;
        color:#cdcdcd;
        transition: all .3s ease-out;
        cursor: pointer;
        &:hover {
            background-color: #228078;
            border: 1px solid #228078;
        }
    }
}

.socials {
    display: flex;
    width: 33.3333332%;
    justify-content: center;
    &__icon {
        overflow: hidden;
        margin: 0 10px;
        width: 50px;
        height: 50px;
        background-color: #252934;
        transition: all .4s ease-in-out;
        &:hover {
            box-shadow: inset 0 0 0 1px rgba(188, 199, 212, 0.5);
            .icon-facebook:before, .icon-github-circled:before, .icon-linkedin:before { 
                animation: topToBottom 0.6s forwards;
            }
           
        }
        &--fb:hover {
            background-color: #4267B2;
        }
        &--in:hover {
            background-color: #0077B5;
        }
        &--gh:hover {
            background-color: #24292E;
        }
    }
}

.footer {
    min-height: 100px;
    padding: 10px;
    background-color: #1B242F;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__copyright {
        width: 33.3333332%;
        color:#cdcdcd;
        font-size: 20px;
        font-weight: bold;
        margin: auto;
        text-align: center;
    }
    &__credits {
        width: 33.3333332%;
        margin: auto;
        text-align: center;
    }

    &__link {
        color:#cdcdcd;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.icon-facebook:before, .icon-github-circled:before, .icon-linkedin:before { 
    font-size: 24px;
    color:#cdcdcd;
    margin:0;
    
} 

.icon-facebook:before {padding:13px 18px; }
.icon-github-circled:before, .icon-linkedin:before { padding:13px 15px; }


@keyframes topToBottom {
    0% {
        opacity:1;
        transform: translateY(0)
    }

    30% {
        opacity:0.5;
        transform: translateY(60%)
    }

    60% {
        opacity:0;
        transform: translateY(-60%)
    }

    100% {
        opacity:1;
        transform: translateY(0)
    }
}

@media (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
    .navigation__toggle {
        display: none;
    }

    .navigation__item {
        display: block;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}